@charset "UTF-8";

@font-face {
  font-family: 'SUIT';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  size-adjust: 100%;
  src: url('@/assets/fonts/SUIT-Thin.woff2') format('woff2');
  /* 폰트 메트릭 보정 (CSS Fonts L4, iOS/모던 크롬 지원) */
  // ascent-override: 83%;
  // descent-override: 17%;
  // line-gap-override: 0%;
}
@font-face {
  font-family: 'SUIT';
  font-weight: 200;
  src: url('@/assets/fonts/SUIT-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 300;
  src: url('@/assets/fonts/SUIT-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  src: url('@/assets/fonts/SUIT-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  src: url('@/assets/fonts/SUIT-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 600;
  src: url('@/assets/fonts/SUIT-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  src: url('@/assets/fonts/SUIT-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 800;
  src: url('@/assets/fonts/SUIT-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 900;
  src: url('@/assets/fonts/SUIT-Heavy.woff2') format('woff2');
}
