@charset "UTF-8";
@use '@/assets/scss/mixin/_all.scss' as *;

// ################################################################################
// #########################    contents Area
// ################################################################################

.alarm-box {
  position: relative;
  padding: 2rem 4rem 2rem 2rem;
  min-height: 8rem;
  button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    svg {
      font-size: 2rem;
    }
  }
}
